/* fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap'); 
html{
	height: 100%;
}
/* background image for the body */
body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../backgrounds/l4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Oswald', sans-serif;
	color: white;
}
/* centering the h1 and buttons all wrap in a div with id of content */
#content{
	text-align: center;
	padding-top: 25%;
}
h1{
	
  font-weight: 700;
  font-size: 3em;

}